In [48]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats

In [49]:
snp = pd.read_csv('../../../mod4_project_DC_housing_price/data/WDXRSA.csv')
df = snp

In [50]:
UR = pd.read_csv('../../../mod4_project_DC_housing_price/data/UNRATE.csv')
df['US_UR'] = UR['UNRATE']

In [51]:
DMV_UR = pd.read_csv('../../../mod4_project_DC_housing_price/data/WASH911URN.csv')
df['DMV_UR'] = DMV_UR['WASH911URN']

In [52]:
DC_UR = pd.read_csv('../../../mod4_project_DC_housing_price/data/DCUR.csv')
df['DC_UR'] = DC_UR['DCUR']

In [53]:
FedEm = pd.read_csv('../../../mod4_project_DC_housing_price/data/SMU11479009091000001SA.csv')
df['FED_EM'] = FedEm['SMU11479009091000001SA']

In [54]:
FinEm = pd.read_csv('../../../mod4_project_DC_housing_price/data/SMU11479005552000001SA.csv')
df['FIN_EM'] = FinEm['SMU11479005552000001SA']

In [55]:
HosEm = pd.read_csv('../../../mod4_project_DC_housing_price/data/WASH911LEIH.csv')
df['HOS_EM'] = HosEm['WASH911LEIH']

In [56]:
DC_Per = pd.read_csv('../../../mod4_project_DC_housing_price/data/DCBPPRIV.csv')
df['DC_PER'] = DC_Per['DCBPPRIV']

In [57]:
DMV_Per = pd.read_csv('../../../mod4_project_DC_housing_price/data/WASH911BPPRIVSA.csv')
df['DMV_PER'] = DMV_Per['WASH911BPPRIVSA']

In [58]:
DMV_Per1 = pd.read_csv('../../../mod4_project_DC_housing_price/data/WASH911BP1FHSA.csv')
df['DMV_PER_1'] = DMV_Per1['WASH911BP1FHSA']

In [59]:
df_temp = df[1:118]

In [60]:
df_temp.to_csv("../../data/macro.csv", index = False)

In [61]:
df = pd.read_csv("../../data/macro.csv")

In [62]:
df

,DATE,WDXRSA,US_UR,DMV_UR,DC_UR,FED_EM,FIN_EM,HOS_EM,DC_PER,DMV_PER,DMV_PER_1
0,2010-02-01,180.451677,9.8,6.9,9.7,373.444291,96.646081,254.227222,60.0,1447.651302,821.847524
1,2010-03-01,179.886193,9.9,6.7,9.5,373.911092,96.916094,258.398701,27.0,1194.393163,732.449501
2,2010-04-01,181.982940,9.9,6.1,9.4,375.438325,96.709393,262.204679,166.0,1240.543680,792.792527
3,2010-05-01,182.983985,9.6,6.3,9.3,384.432209,96.954287,259.995404,15.0,1068.784557,646.662505
4,2010-06-01,183.939947,9.4,6.5,9.3,383.827749,97.197389,261.043229,8.0,1167.185307,768.646617
...,...,...,...,...,...,...,...,...,...,...,...
112,2019-06-01,232.112524,3.7,3.4,5.6,363.193444,103.253989,347.332822,389.0,2036.740005,1178.709018
113,2019-07-01,232.032415,3.7,3.3,5.6,363.391729,102.106994,347.357406,455.0,2056.199932,1138.927749
114,2019-08-01,232.650097,3.7,3.2,5.5,364.342848,102.964051,350.489560,437.0,2000.434352,1247.029523
115,2019-09-01,233.380305,3.5,2.9,5.4,363.321499,102.012584,352.846320,329.0,2083.453745,1429.372493
116,2019-10-01,234.644022,3.6,2.8,5.4,363.261555,103.049750,355.226651,1395.0,2651.639321,1163.982510