In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats

In [13]:
snp = pd.read_csv('../../../mod4_project_DC_housing_price/data/WDXRSA.csv')

In [20]:
df = snp

In [15]:
UR = pd.read_csv('../../../mod4_project_DC_housing_price/data/UNRATE.csv')

In [19]:
UR['UNRATE']

0      9.8
1      9.8
2      9.9
3      9.9
4      9.6
      ...
115    3.7
116    3.5
117    3.6
118    3.5
119    3.5
Name: UNRATE, Length: 120, dtype: float64

In [21]:
df['US_UR'] = UR['UNRATE']

In [22]:
df

           DATE      WDXRSA  US_UR
0    2010-01-01  179.971012    9.8
1    2010-02-01  180.451677    9.8
2    2010-03-01  179.886193    9.9
3    2010-04-01  181.982940    9.9
4    2010-05-01  182.983985    9.6
..          ...         ...    ...
113  2019-06-01  232.112524    3.7
114  2019-07-01  232.032415    3.7
115  2019-08-01  232.650097    3.7
116  2019-09-01  233.380305    3.5
117  2019-10-01  234.644022    3.6

[118 rows x 3 columns]

In [23]:
DC_UR = pd.read_csv('../../../mod4_project_DC_housing_price/data/WASH911URN.csv')

In [24]:
DC_UR

           DATE  WASH911URN
0    2010-01-01         6.9
1    2010-02-01         6.9
2    2010-03-01         6.7
3    2010-04-01         6.1
4    2010-05-01         6.3
..          ...         ...
114  2019-07-01         3.3
115  2019-08-01         3.2
116  2019-09-01         2.9
117  2019-10-01         2.8
118  2019-11-01         2.8

[119 rows x 2 columns]

In [25]:
df['DC_UR'] = DC_UR['WASH911URN']

In [26]:
df

           DATE      WDXRSA  US_UR  DC_UR
0    2010-01-01  179.971012    9.8    6.9
1    2010-02-01  180.451677    9.8    6.9
2    2010-03-01  179.886193    9.9    6.7
3    2010-04-01  181.982940    9.9    6.1
4    2010-05-01  182.983985    9.6    6.3
..          ...         ...    ...    ...
113  2019-06-01  232.112524    3.7    3.4
114  2019-07-01  232.032415    3.7    3.3
115  2019-08-01  232.650097    3.7    3.2
116  2019-09-01  233.380305    3.5    2.9
117  2019-10-01  234.644022    3.6    2.8

[118 rows x 4 columns]

In [27]:
FedEm = pd.read_csv('../../../mod4_project_DC_housing_price/data/SMU11479009091000001SA.csv')

In [29]:
df['FED_EM'] = FedEm['SMU11479009091000001SA']

In [30]:
df

           DATE      WDXRSA  US_UR  DC_UR      FED_EM
0    2010-01-01  179.971012    9.8    6.9  373.377840
1    2010-02-01  180.451677    9.8    6.9  373.444291
2    2010-03-01  179.886193    9.9    6.7  373.911092
3    2010-04-01  181.982940    9.9    6.1  375.438325
4    2010-05-01  182.983985    9.6    6.3  384.432209
..          ...         ...    ...    ...         ...
113  2019-06-01  232.112524    3.7    3.4  363.193444
114  2019-07-01  232.032415    3.7    3.3  363.391729
115  2019-08-01  232.650097    3.7    3.2  364.342848
116  2019-09-01  233.380305    3.5    2.9  363.321499
117  2019-10-01  234.644022    3.6    2.8  363.261555

[118 rows x 5 columns]

In [31]:
FinEm = pd.read_csv('../../../mod4_project_DC_housing_price/data/SMU11479005552000001SA.csv')

In [33]:
df['FIN_EM'] = FinEm['SMU11479005552000001SA']

In [34]:
df

           DATE      WDXRSA  US_UR  DC_UR      FED_EM      FIN_EM
0    2010-01-01  179.971012    9.8    6.9  373.377840   96.712793
1    2010-02-01  180.451677    9.8    6.9  373.444291   96.646081
2    2010-03-01  179.886193    9.9    6.7  373.911092   96.916094
3    2010-04-01  181.982940    9.9    6.1  375.438325   96.709393
4    2010-05-01  182.983985    9.6    6.3  384.432209   96.954287
..          ...         ...    ...    ...         ...         ...
113  2019-06-01  232.112524    3.7    3.4  363.193444  103.253989
114  2019-07-01  232.032415    3.7    3.3  363.391729  102.106994
115  2019-08-01  232.650097    3.7    3.2  364.342848  102.964051
116  2019-09-01  233.380305    3.5    2.9  363.321499  102.012584
117  2019-10-01  234.644022    3.6    2.8  363.261555  103.049750

[118 rows x 6 columns]

In [35]:
HosEm = pd.read_csv('../../../mod4_project_DC_housing_price/data/WASH911LEIH.csv')

In [37]:
df['HOS_EM'] = HosEm['WASH911LEIH']

In [38]:
df

           DATE      WDXRSA  US_UR  DC_UR      FED_EM      FIN_EM      HOS_EM
0    2010-01-01  179.971012    9.8    6.9  373.377840   96.712793  258.066620
1    2010-02-01  180.451677    9.8    6.9  373.444291   96.646081  254.227222
2    2010-03-01  179.886193    9.9    6.7  373.911092   96.916094  258.398701
3    2010-04-01  181.982940    9.9    6.1  375.438325   96.709393  262.204679
4    2010-05-01  182.983985    9.6    6.3  384.432209   96.954287  259.995404
..          ...         ...    ...    ...         ...         ...         ...
113  2019-06-01  232.112524    3.7    3.4  363.193444  103.253989  347.332822
114  2019-07-01  232.032415    3.7    3.3  363.391729  102.106994  347.357406
115  2019-08-01  232.650097    3.7    3.2  364.342848  102.964051  350.489560
116  2019-09-01  233.380305    3.5    2.9  363.321499  102.012584  352.846320
117  2019-10-01  234.644022    3.6    2.8  363.261555  103.049750  355.226651

[118 rows x 7 columns]

In [40]:
DC_Per = pd.read_csv('../../../mod4_project_DC_housing_price/data/DCBPPRIV.csv')

In [42]:
df['DC_PER'] = DC_Per['DCBPPRIV']

In [43]:
DMV_Per = pd.read_csv('../../../mod4_project_DC_housing_price/data/WASH911BPPRIVSA.csv')

In [45]:
df['DMV_PER'] = DMV_Per['WASH911BPPRIVSA']

In [46]:
df

,DATE,WDXRSA,US_UR,DC_UR,FED_EM,FIN_EM,HOS_EM,DC_PER,DMV_PER
0,2010-01-01,179.971012,9.8,6.9,373.377840,96.712793,258.066620,20.0,1081.438830
1,2010-02-01,180.451677,9.8,6.9,373.444291,96.646081,254.227222,5.0,589.060517
2,2010-03-01,179.886193,9.9,6.7,373.911092,96.916094,258.398701,274.0,1792.584956
3,2010-04-01,181.982940,9.9,6.1,375.438325,96.709393,262.204679,23.0,1174.767699
4,2010-05-01,182.983985,9.6,6.3,384.432209,96.954287,259.995404,8.0,807.622487
...,...,...,...,...,...,...,...,...,...
113,2019-06-01,232.112524,3.7,3.4,363.193444,103.253989,347.332822,130.0,1625.417356
114,2019-07-01,232.032415,3.7,3.3,363.391729,102.106994,347.357406,997.0,2606.325939
115,2019-08-01,232.650097,3.7,3.2,364.342848,102.964051,350.489560,384.0,1714.729939
116,2019-09-01,233.380305,3.5,2.9,363.321499,102.012584,352.846320,369.0,1871.043655
117,2019-10-01,234.644022,3.6,2.8,363.261555,103.049750,355.226651,773.0,1934.386570

In [48]:
DMV_Per1 = pd.read_csv('../../../mod4_project_DC_housing_price/data/WASH911BP1FHSA.csv')

In [50]:
df['DMV_PER_1'] = DMV_Per1['WASH911BP1FHSA']

In [51]:
df

,DATE,WDXRSA,US_UR,DC_UR,FED_EM,FIN_EM,HOS_EM,DC_PER,DMV_PER,DMV_PER_1
0,2010-01-01,179.971012,9.8,6.9,373.377840,96.712793,258.066620,20.0,1081.438830,825.823127
1,2010-02-01,180.451677,9.8,6.9,373.444291,96.646081,254.227222,5.0,589.060517,536.471861
2,2010-03-01,179.886193,9.9,6.7,373.911092,96.916094,258.398701,274.0,1792.584956,912.020472
3,2010-04-01,181.982940,9.9,6.1,375.438325,96.709393,262.204679,23.0,1174.767699,915.400737
4,2010-05-01,182.983985,9.6,6.3,384.432209,96.954287,259.995404,8.0,807.622487,736.991357
...,...,...,...,...,...,...,...,...,...,...
113,2019-06-01,232.112524,3.7,3.4,363.193444,103.253989,347.332822,130.0,1625.417356,1050.364982
114,2019-07-01,232.032415,3.7,3.3,363.391729,102.106994,347.357406,997.0,2606.325939,1081.960415
115,2019-08-01,232.650097,3.7,3.2,364.342848,102.964051,350.489560,384.0,1714.729939,1012.741352
116,2019-09-01,233.380305,3.5,2.9,363.321499,102.012584,352.846320,369.0,1871.043655,1010.773223
117,2019-10-01,234.644022,3.6,2.8,363.261555,103.049750,355.226651,773.0,1934.386570,1026.491202